
.card:hover .img-content {
    transform: scale(2.5) rotate(30deg) blur(7px);
    /* background-color: #D6DFF9 !important; */
    background-image: none !important;
  }
  .card:hover  .heading {
    display: none;
  }
  .card:hover .img-content img {
    display: block;
  }
  .card:hover .content {
    opacity: 1;
    color: black;
    /* transform: translateY(0); */
  }
  